@model ElectronicStore.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Product</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.quantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Supplier.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Supplier.name)
    </div>
@using(Html.BeginForm()){
 <div>Qty: 
    <select name="Qty">
        @for(var i=1; i<=100; i++)
        {
        <option>@i</option>
        }
    </select>
     <input type="hidden" name="price" value="@Model.price" />
     <input type="submit" value="Add to Cart" />
    </div>
    
    
    
}
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.productID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
