@model ElectronicStore.Models.Author

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Author</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.likes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.likes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dislikes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dislikes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.image)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.image)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.bio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bio)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AuthorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
