@model ElectronicStore.Models.register

@{
    ViewBag.Title = "Register";
}
<div class="registerborder">
<h2>Register</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
  
        <legend>register</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Confirmpassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Confirmpassword)
            @Html.ValidationMessageFor(model => model.Confirmpassword)
        </div>

        <p1>
            <input type="submit" value="Register" />
        </p1>
      
  
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
